@font-face {
    font-family: "lalezar";
    src: url("../assets/fontts/Lalezar.ttf");
}

@font-face {
    font-family: "yekan";
    src: url("../assets/fontts/Yekan.ttf");
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}